{% extends "base.html" %}
{% block title %}
Tuto
{%endblock%}
    {% block content %}
    {% load static %}
  
  <section class="menu cid-s48OLK6784" once="menu" id="menu1-k">
    
    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="container">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://meropro.com">
                        <img src="{% static 'assets/images/logo-64x64.png' %}" alt="Mero Pro" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-black text-primary display-7" href="https://meropro.com">Mero Pro</a></span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-black display-4" href="#">
                            Nos formations</a></li></ul>
                <div class="icons-menu">
                    <a class="iconfont-wrapper" href="https://www.facebook.com/meropromedia" target="_blank">
                        <span class="p-2 mbr-iconfont socicon-facebook socicon"></span>
                    </a>
                    <a class="iconfont-wrapper" href="https://www.instagram.com/meropromedia/" target="_blank">
                        <span class="p-2 mbr-iconfont socicon-instagram socicon"></span>
                    </a>
                    
                    
                </div>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="https://calendly.com/meropro/rendez-vous">
                        RÉSERVER UN APPEL STRATÉGIQUE</a></div>
            </div>
        </div>
    </nav>

</section>

<section class="video2 cid-sdH78fbT2W" id="video2-n">
    
    
    <div class="container-fluid">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style mb-0 display-2">
                <strong>Merci pour votre confiance, {{tuto.clientName}}</strong></h4>
            <h5 class="mbr-section-subtitle mbr-fonts-style mb-0 mt-2 display-7">Votre vidéo de prise en main</h5>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 video-block">
                <div class="video-wrapper"><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/{{tuto.idTutoVideo}}?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen></iframe></div>
                <p class="mt-2 mbr-text pt-2 mbr-fonts-style display-4">
                    <a href="https://{{tuto.client_url}}">{{tuto.client_url}}</a></p>
            </div>
        </div>
    </div>
</section>

<section class="content11 cid-sdHHMi3e56" id="content11-t">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="https://drive.google.com/file/d/1FU-e5FPayu7t_ajbhDSSxjf5M0eQWrLW/view?usp=sharing" target="_blank"><span class="mobi-mbri mobi-mbri-file mbr-iconfont mbr-iconfont-btn"></span>Télecharger votre livret</a></div>
            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-l">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="row row-links">
                <ul class="foot-menu">
                    
                    
                    
                    
                    
                <li class="foot-menu-item mbr-fonts-style display-7"><a href="https://meropro.com" class="text-success text-primary">Accueil</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a href="http://forums.mobirise.com/" class="text-success">Nos Services</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a href="#" class="text-success">Nos Formations</a></li><li class="foot-menu-item mbr-fonts-style display-7"><a href="#" class="text-success">Contactez-Nous</a></li></ul>
            </div>
            <div class="row social-row">
                <div class="social-list align-right pb-2">
                    
                    
                    
                    
                    
                    
                <div class="soc-item">
                        <a href="https://www.facebook.com/meropromedia" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                        </a>
                    </div><div class="soc-item">
                        <a href="https://www.instagram.com/meropromedia/" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                        </a>
                    </div></div>
            </div>
            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © <a href="https://meropro.com" class="text-primary" target="_blank">Mero Pro</a> - Tous droits réservés
                </p>
            </div>
        </div>
    </div>

    {% endblock %}